<!doctype html>
<html>
    <head>
        <title>PocPoc</title>
        <link rel="stylesheet" href="/css/hack.css" />
        <link rel="stylesheet" href="/css/standard.css" />
        <style>
            body {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        </style>
    </head>
    <body class="hack">
        <div id="app" class="container">
            <div class="alert alert-{{ item.type }}" v-for="item in notifications">
                <strong>{{ item.sent_at }}</strong> : {{ item.message }}
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/pouchdb.min.js"></script>
    <script type="text/javascript" src="/js/push.min.js"></script>
    <script type="text/javascript">
        var db = new PouchDB('notifications');
        var remoteCouch = 'DB_FULL_URL';
    </script>
    <script type="text/javascript" src="/js/app.js"></script>
</html>
